
## Dictionary

Exercise 1: Convert two lists into a dictionary
Below are the two lists. Write a Python program to convert them into a dictionary in a way that item from list1 is the key and item from list2 is the value

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [8]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# first way
first_way = dict(zip(keys,values))
print('first_way : ',first_way)

sec_dic = {k:v for k,v in zip(keys,values)}
print(sec_dic)

first_way :  {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Exercise 2: Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
Expected output:

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [10]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)

print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [13]:
second_dict = {**dict1,**dict2}
second_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Exercise 3: Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
Expected output:

80

In [17]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

sampleDict["class"]["student"]["marks"]["history"]

80

Exercise 4: Initialize dictionary with default values
In Python, we can initialize the keys with the same values.

Given:

employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
Expected output:

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [20]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

output = {k:defaults for k in employees}
output

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

Exercise 5: Create a dictionary by extracting the keys from a given dictionary
Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

Given dictionary:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
Expected output:

{'name': 'Kelly', 'salary': 8000}

In [24]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
keys = ["name", "salary"]

output = {k:sample_dict[k] for k in keys}
output

{'name': 'Kelly', 'salary': 8000}

Exercise 6: Delete a list of keys from a dictionary
Given:

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]
Expected output:

{'city': 'New york', 'age': 25}

In [25]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]
for k in keys:
    del(sample_dict[k])
sample_dict

{'age': 25, 'city': 'New york'}

Exercise 7: Check if a value exists in a dictionary
We know how to check if the key exists in a dictionary. Sometimes it is required to check if the given value is present.

Write a Python program to check if value 200 exists in the following dictionary.

Given:

aExpected output:

200 present in a dict

In [27]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')
else:
    print("no")

200 present in a dict

Exercise 8: Rename key of a dictionary
Write a program to rename a key city to a location in the following dictionary.

Given:

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
Expected output:

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [32]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict["location"] = sample_dict.pop("city")
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [29]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict["location"] = sample_dict["city"]
del(sample_dict["city"])
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

Exercise 9: Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
Expected output:

Math

In [33]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

sorted(sample_dict.keys(), key=lambda x:x[0])[0]

'Math'

Exercise 10: Change value of a key in a nested dictionary
Write a Python program to change Brad’s salary to 8500 in the following dictionary.

Given:

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
Expected output:

{
   'emp1': {'name': 'Jhon', 'salary': 7500},
   'emp2': {'name': 'Emma', 'salary': 8000},
   'emp3': {'name': 'Brad', 'salary': 8500}
}

In [39]:

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

emp_name = "Brad"
inc_sal = 8500
for i in sample_dict.keys():
    if sample_dict[i]["name"] == emp_name:
        sample_dict[i]["salary"] = inc_sal
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

# List

Exercise 1: Create a list by picking an odd-index items from the first list and even index items from the second
Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

Given:

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
Expected Output:

Element at odd-index positions from list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]

Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [48]:

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

even_pos = [l1[i] for i in range(1,len(l1),2)]
odd_pos = [l2[i] for i in range(0,len(l2),2)]
even_pos + odd_pos

[6, 12, 18, 4, 12, 20, 28]

Exercise 2: Remove and add item in a list
Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

Given:

list1 = [54, 44, 27, 79, 91, 41]
Expected Output:

List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

In [51]:
# Given list
list1 = [54, 44, 27, 79, 91, 41]

# Step 1: Remove the item at index 4
removed_item = list1.pop(4)
print("List After removing element at index 4:", list1)

# Step 2: Add the removed item at the 2nd position (index 2)
list1.insert(2, removed_item)
print("List after Adding element at index 2:", list1)

# Step 3: Add the removed item at the end of the list
list1.append(removed_item)
print("List after Adding element at last:", list1)

List After removing element at index 4: [54, 44, 27, 79, 41]
List after Adding element at index 2: [54, 44, 91, 27, 79, 41]
List after Adding element at last: [54, 44, 91, 27, 79, 41, 91]

Exercise 3: Slice list into 3 equal chunks and reverse each chunk
Given:

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
Expected Outcome:

Chunk  1 [11, 45, 8]
After reversing it  [8, 45, 11]
Chunk  2 [23, 14, 12]
After reversing it  [12, 14, 23]
Chunk  3 [78, 45, 89]
After reversing it  [89, 45, 78]

In [3]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
chunks = []

for i in range(0,len(sample_list),3):
    print(sample_list[i:i+3])
    chunks.append(sample_list[i:i+3][::-1])

[11, 45, 8]
[23, 14, 12]
[78, 45, 89]

Exercise 4: Count the occurrence of each element from a list
Write a program to iterate a given list and count the occurrence of each element and create a dictionary to show the count of each element.

Given:

sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
Expected Output:

Printing count of each item   {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [5]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
occurrence = {k:sample_list.count(k) for k in (sample_list)}
occurrence

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

Exercise 5: Create a Python set such that it shows the element from both lists in a pair
Given:

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
Expected Output:

Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [6]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
s =set()
for k,v in zip(first_list,second_list):
    s.add((k,v))
s

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

Exercise 6: Find the intersection (common) of two sets and remove those elements from the first set
See: Python Set

Given:

first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
Expected Output:

Intersection is  {57, 83, 29}
First Set after removing common element  {65, 42, 78, 23}

In [9]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

common = first_set.intersection(second_set)
for comm in common:
    first_set.remove(comm)
first_set

{23, 42, 65, 78}

Exercise 7: Checks if one set is a subset or superset of another set. If found, delete all elements from that set
Given:

first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}
Expected Output:

First set is subset of second set - True
Second set is subset of First set -  False

First set is Super set of second set -  False
Second set is Super set of First set -  True

First Set  set()
Second Set  {67, 73, 43, 48, 83, 57, 29}

In [10]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

Exercise 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list
Given:

roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
Expected Outcome:

After removing unwanted elements from list [47, 69, 76, 97]

In [12]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}
for i in roll_number:
    if i not in sample_dict.values():
        roll_number.remove(i)

Exercise 9: Get all values from the dictionary and add them to a list but don’t add duplicates
Given:

speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
Expected Outcome:

[47, 52, 44, 53, 54]

In [13]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
lst = []
for v in speed.values():
    if v not in lst:
        lst.append(v)
lst

[47, 52, 44, 53, 54]

Exercise 10: Remove duplicates from a list and create a tuple and find the minimum and maximum number
Given:

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
Expected Outcome:

unique items [87, 45, 41, 65, 99]
tuple (87, 45, 41, 65, 99)
min: 41
max: 99

# string

Exercise 1A: Create a string made of the first, middle and last character
Write a program to create a new string made of an input string’s first, middle, and last character.

Given:

str1 = "James"
Expected Output:

Jms

In [14]:
str1 = "James"
for i in range(0,len(str1),2):
    print(str1[i],end="")

Jms

Exercise 1B: Create a string made of the middle three characters
Write a program to create a new string made of the middle three characters of an input string.

Given:

Case 1

str1 = "JhonDipPeta"
Output

Dip
Case 2

str2 = "JaSonAy"
Output

Son

In [ ]:
str1 = "JhonDipPeta"
output = ""
for i in

Exercise 2: Append new string in the middle of a given string
Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

Given:

s1 = "Ault"
s2 = "Kelly"
Expected Output:

AuKellylt

Exercise 3: Create a new string made of the first, middle, and last characters of each input string
Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.

Given:

s1 = "America"
s2 = "Japan"
Expected Output:

AJrpan

Exercise 4: Arrange string characters such that lowercase letters should come first
Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.

Given:

str1 = PyNaTive
Expected Output:

yaivePNT

Exercise 5: Count all letters, digits, and special symbols from a given string
Given:

str1 = "P@#yn26at^&i5ve"
Expected Outcome:

Total counts of chars, digits, and symbols 

Chars = 8 
Digits = 3 
Symbol = 4

In [122]:
str1 = "P@#yn26at^&i5ve"
char = len(re.findall(r"[a-zA-Z]",str1))
digits = len(re.findall(r"[0-9]",str1))
print(digits)
spe = len(re.findall(r"[^a-zA-Z0-9]",str1))
print(spe)

3
4

Exercise 6: Create a mixed String using the following rules
Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

Given:

s1 = "Abc"
s2 = "Xyz"
Expected Output:

AzbycX

Exercise 7: String characters balance Test
Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.

Given:

Case 1:

s1 = "Yn"
s2 = "PYnative"
Expected Output:

True
Case 2:

s1 = "Ynf"
s2 = "PYnative"
Expected Output:

False

Exercise 8: Find all occurrences of a substring in a given string by ignoring the case
Write a program to find all occurrences of “USA” in a given string ignoring the case.

Given:

str1 = "Welcome to USA. usa awesome, isn't it?"
Expected Outcome:

The USA count is: 2

In [111]:
str1 = "Welcome to USA. usa awesome, isn't it?".lower().count("usa")
str1

2

Exercise 9: Calculate the sum and average of the digits present in a string
Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

Given:

str1 = "PYnative29@#8496"
Expected Outcome:

Sum is: 38 Average is  6.333333333333333

In [109]:
str1 = "PYnative29@#8496"
l = re.findall(r"[0-9]",str1)
s = 0
sum([int(i) for i in l]
)

38

In [104]:
summ

0

Exercise 10: Write a program to count occurrences of all characters within a string
Given:

str1 = "Apple"
Expected Outcome:

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

Exercise 11: Reverse a given string
Given:

str1 = "PYnative"
Expected Output:

evitanYP

Exercise 12: Find the last position of a given substring
Write a program to find the last position of a substring “Emma” in a given string.

Given:

str1 = "Emma is a data scientist who knows Python. Emma works at google."
Expected Output:

Last occurrence of Emma starts at index 43

In [98]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
str1.rfind('Emma')

43

Exercise 13: Split a string on hyphens
Write a program to split a given string on hyphens and display each substring.

Given:

aExpected Output:

Displaying each substring

Emma
is
a
data
scientist

In [97]:
str1 = "Emma-is-a-data-scientist"
for i in str1.split("-"):
    print(i)

Emma
is
a
data
scientist

Exercise 14: Remove empty strings from a list of strings
Given:

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
Expected Output:

Original list of sting
['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']

After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

In [96]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
[i for i in str_list if i!="" and i!= None]

['Emma', 'Jon', 'Kelly', 'Eric']

Exercise 15: Remove special symbols / punctuation from a string
Given:

str1 = "/*Jon is @developer & musician"
Expected Output:

"Jon is developer musician"

In [95]:
str1 = "/*Jon is @developer & musician"
" ".join(re.findall(r"[a-zA-Z]+",str1))

'Jon is developer musician'

Exercise 16: Removal all characters from a string except integers
Given:

str1 = 'I am 25 years and 10 months old'
Expected Output:

2510

In [92]:
import re

str1 = 'I am 25 years and 10 months old'
"".join(re.findall(r"[0-9]+",str1))

'2510'

In [93]:
for i in str1.split():
    if i.isnumeric():
        print(i,end="")

2510

Exercise 17: Find words with both alphabets and numbers
Write a program to find words with both alphabets and numbers from an input string.

Given:

str1 = "Emma25 is Data scientist50 and AI Expert"
Expected Output:

Emma25
scientist50

In [87]:
import re

# Given string
str1 = "Emma25 is Data scientist50 and AI Expert"

# Split the string into words
words = str1.split()

# Find words that contain both alphabets and numbers
result = [word for word in words if re.search(r'[A-Za-z]', word) and re.search(r'[0-9]', word)]

# Print the result
for word in result:
    print(word)

Emma25
scientist50

In [83]:
str1 = "Emma25 is Data scientist50 and AI Expert"
for i in str1.split():
    if i.isalnum():
        print(i,end = " ")

Emma25 is Data scientist50 and AI Expert

Exercise 18: Replace each special symbol with # in the following string
Given:

str1 = '/*Jon is @developer & musician!!'
Expected Output:

##Jon is #developer # musician##

In [80]:
str1 = '/*Jon is @developer & musician!!'
output = ""
for i in str1:
    if not i.isalpha() and not i.isspace():
        output+= "#"
    else:
        output+= i
output

'##Jon is #developer # musician##'

## Tuple

Exercise 1: Reverse the tuple
Given:

tuple1 = (10, 20, 30, 40, 50)
Expected output:

(50, 40, 30, 20, 10)

In [78]:
tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

Exercise 2: Access value 20 from the tuple
The given tuple is a nested tuple. write a Python program to print the value 20.

Given:

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
Expected output:

20

Exercise 3: Create a tuple with single item 50
Show Solution
tuple1= (50, )
print(tuple1)

Exercise 4: Unpack the tuple into 4 variables
Write a program to unpack the following tuple into four variables and display each variable.

Given:

tuple1 = (10, 20, 30, 40)
Expected output:

tuple1 = (10, 20, 30, 40)
# Your code
print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

Exercise 5: Swap two tuples in Python
Given:

tuple1 = (11, 22)
tuple2 = (99, 88)
Expected output:

tuple1: (99, 88)
tuple2: (11, 22)

In [76]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple2,tuple1 = tuple1,tuple2

In [77]:
tuple1

(99, 88)

Exercise 6: Copy specific elements from one tuple to a new tuple
Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

Given:

tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:

tuple2: (44, 55)

In [75]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple1[3:5]

(44, 55)

Exercise 7: Modify the tuple
Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

Given:

tuple1 = (11, [22, 33], 44, 55)
Expected output:

tuple1: (11, [222, 33], 44, 55)

In [73]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222

Exercise 8: Sort a tuple of tuples by 2nd item
Given:

tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
Expected output:

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [64]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
sorted(tuple1,key=lambda x :x[1])

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

Exercise 9: Counts the number of occurrences of item 50 from a tuple
Given:

tuple1 = (50, 10, 60, 70, 50)
Expected output:

2

In [63]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

Exercise 10: Check if all items in the tuple are the same
tuple1 = (45, 45, 45, 45)
Expected output:

True

In [62]:
tuple1 = (45, 45, 45, 45)
if len(set(tuple1)) == 1:
    print(True)
else:
    print(False)

True

## Loop

Exercise 1: Print first 10 natural numbers using while loop
Help: while loop in Python

Expected output:

1
2
3
4
5
6
7
8
9
10

In [56]:
digit = 0
while digit != 10:
    digit += 1
    print(digit)

1
2
3
4
5
6
7
8
9
10

Exercise 2: Print the following pattern
Write a Python code to print the following number pattern using a loop.

1 
1 2 
1 2 3 
1 2 3 4 
1 2 3 4 5

In [54]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Exercise 3: Calculate sum of all numbers from 1 to a given number
Write a Python program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10, the output should be 55 (1+2+3+4+5+6+7+8+9+10)

Expected Output:

Enter number 10
Sum is:  55

In [52]:
n = 10
summ = (n*(n+1))/2
summ

55.0

Exercise 4: Print multiplication table of a given number
Given:

num = 2
Expected output is:

2
4
6
8
10
12
14
16
18
20

Exercise 5: Display numbers from a list using a loop
Write a Python program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the following number
If the number is greater than 500, then stop the loop
Given:

numbers = [12, 75, 150, 180, 145, 525, 50]
Expected output:

75
150
145

Exercise 6: Count the total number of digits in a number
Write a Python program to count the total number of digits in a number using a while loop.

For example, the number is 75869, so the output should be 5.

In [50]:
digit = 75869
count = 0
while digit != 0:
    count += 1
    digit //=10
count

5

Exercise 7: Print the following pattern
Write a Python program to print the reverse number pattern using a for loop.

5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [49]:
n = 5
for _ in range(n+1,0,-1):
    for j in range(_-1,0,-1):
        print(j,end = " ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 8: Print list in reverse order using a loop
Given:

list1 = [10, 20, 30, 40, 50]
Expected output:

50
40
30
20
10

Exercise 9: Display numbers from -10 to -1 using for loop
Expected output:

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [45]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

Exercise 10: Display a message “Done” after the successful execution of the for loop
For example, the following loop will execute without any error.

Given:

for i in range(5):
    print(i)
Expected output:

0
1
2
3
4
Done!

Exercise 11: Print all prime numbers within a range
Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers.

Examples:

6 is not a prime number because it can be made by 2×3 = 6
37 is a prime number because no other whole numbers multiply to make it.
Given:

# range
start = 25
end = 50
Expected output:

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

In [41]:
# Function to check if a number is prime
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Range values
start = 25
end = 50

print(f"Prime numbers between {start} and {end} are:")

# Loop through the range and check for primes
for num in range(start, end + 1):
    if is_prime(num):
        print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms
Have you ever wondered about the Fibonacci Sequence? It’s a series of numbers in which the next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.

For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series is 13 + 21 = 34.

Expected output:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [39]:
a,b = 0,1
print(f"{a} {b}")
for i in range(2,10):
    print(a+b,end=" ")
    c = a+b
    a = b
    b = c

0 1
1 2 3 5 8 13 21 34

Exercise 13: Find the factorial of a given number
Write a Python program to use for loop to find the factorial of a given number.

The factorial (symbol: !) means multiplying all numbers from the chosen number down to 1.

For example, a factorial of 5! is 5 × 4 × 3 × 2 × 1 = 120

Expected output:

120

Exercise 14: Reverse a integer number
Given:

76542

Expected output:

24567

In [36]:
no = 76542
c = no
res = 0
while c!= 0:
    res = res*10 + c%10
    c//=10
res

24567

Exercise 15: Print elements from a given list present at odd index positions
Given:

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Note: The list index always starts at 0

Expected output:

20 40 60 80 100

In [35]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[1::2]:
    print(i,end=" ")

20 40 60 80 100

Exercise 16: Calculate the cube of all numbers from 1 to a given number
Write a Python program to print the cube of all numbers from 1 to a given number

Given:

input_number = 6

Expected output:

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [31]:
input_number = 6
for i in range(1,input_number+1):
    print(f"Current Number is : {i}  and the cube is {i**3}")

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

Exercise 17: Find the sum of the series up to n terms
Write a program to calculate the sum of series up to n terms. For example, if n = 5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

Given:

# number of terms
n = 5
Expected output:

24690

In [27]:
n = 5
digit = 2
s = 0
final = 0
for _ in range(5):
    s =  s*10+digit
    final += s
final

24690

Exercise 18: Print the following pattern
Write a program to print the following start pattern using the for loop

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [18]:
n = 5
for i in range(1,n+1):
    print("* "*i)
for j in range(n-1,0,-1):
    print("* "*j)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Write a function that takes a string and returns the first non-repeating character. For example, in the string "swiss", the function should return 'w'.

In [3]:
str1 = 'swiss'
def non_reapeat(str1):
    for i in str1:
        if str1.count(i) ==1:
            return i
    return False
non_reapeat(str1)

'w'

Given a list of integers, write a function that returns a dictionary where the keys are the integers from the list and the values are the counts of those integers. For example, for the input [1, 2, 2, 3, 1], the output should be {1: 2, 2: 2, 3: 1}.

In [4]:
lst =  [1, 2, 2, 3, 1]
{i: lst.count(i) for i in lst}

{1: 2, 2: 2, 3: 1}

Write a function that returns the nth Fibonacci number using an iterative approach.

In [10]:
f = [0,1]
no = 10
while len(f) != no:
    s =f[-1]+f[-2]
    f.append(s)
f

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

Implement a function that sorts a list of dictionaries based on a specified key. For example, given the list [{'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 20}], sort by 'age'.

In [18]:
lst = [{'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 20}]

sorted(lst,key = lambda x : x["age"],reverse=True)

[{'name': 'John', 'age': 25}, {'name': 'Jane', 'age': 20}]

Create a function that checks whether a given string is a palindrome (reads the same backward as forward), ignoring spaces and punctuation.

In [20]:
str1 = "sas"

"Palindrome" if str1 == str1[::-1] else "Not Palindrome"

'Palindrome'

Write a function that checks if a number is prime. The function should return True if the number is prime and False otherwise.

In [28]:
def check_prime(no = 6):
    if no <= 2 and no >= 0:
        return "Not prime"
    else:
        for i in range(2,int(no**0.5)+1):
            if no%i == 0:
                return "Not prime"
        return "Prime"
check_prime()

'Not prime'

Given a list of integers and a target sum, write a function that returns the indices of the two numbers that add up to the target. You may assume that each input would have exactly one solution.

In [38]:
lst = [1,2,3,4,5,6,7,8,9]
target = 9
dic = dict()
l = []
for idx,no in enumerate(lst):
    diff = target - no
    if diff in dic:
        l.append((dic[diff],idx))
        break
    dic[no] = idx

Given a list of intervals (each represented as a list of two integers), write a function to merge overlapping intervals. For example, [[1,3],[2,6],[8,10],[15,18]] should return [[1,6],[8,10],[15,18]].

In [ ]:
lst = [[1,3],[2,6],[8,10],[15,18]]

Create a function that checks if two strings are anagrams of each other. For example, "listen" and "silent" are anagrams.

In [44]:
str1 = "listen"
str2 = "silent"
"anagrams" if sorted(str1) == sorted(str2) else "Non anagrams"

'anagrams'

Write a function that takes a string and returns the count of vowels (a, e, i, o, u) in it, both uppercase and lowercase.

Write a function that checks if a string of parentheses is balanced. For example, "(())" is balanced, while ")(" is not.

In [51]:
par =  "(())"
dic = {"(":")","[":"]","{":"}"}
stack = []
for i in par:
    if i in dic.keys():
        stack.append(i)
    elif i in dic.values():
        if not stack or dic[stack.pop()] != i:
            print("not balance ")
            break
else:
    if not stack:
        print("balanced")
    else :
        print('not balance')

balanced

Balanced
[]

Given an array and a number k, write a function to rotate the array to the right by k steps. For example, for the input [1, 2, 3, 4, 5] and k = 2, the output should be [4, 5, 1, 2, 3].

In [60]:
arr = [1, 2, 3, 4, 5]

strin = 'lalit'

In [62]:
k=2
arr = 'lalit'
arr[-k:][::-1] + arr[:-k]

'tilal'

In [58]:
k = 2
for i in range(k):
    # x = arr.pop()
    # arr.insert(0,x)
    arr = arr[-1:] + arr[:-1] 
arr

[4, 5, 1, 2, 3]

In [55]:
k = 2
for i in range(k):
    strin = strin[-1] + strin[:-1]
strin

'itlal'

Write a function that takes a list and returns a new list containing the duplicates from the original list. For example, given the input [1, 2, 3, 1, 2, 4], the output should be [1, 2].

In [67]:
arr = [1, 2, 3, 1, 2, 4]
temp = [i for i in set(arr) if arr.count(i) > 1]

In [68]:
temp

[1, 2]

Write a function that takes a list of strings and returns the longest common prefix. For example, for the input ["flower", "flow", "flight"], the output should be "fl".

In [85]:
arr = ["flower", "flow", "flight"]
max_f = ""
max_s = max(arr,key=len)
for i in zip(*arr):
    print(set(i))
    if len(set(i))==1:
        max_f += i[0]
max_f

{'f'}
{'l'}
{'o', 'i'}
{'g', 'w'}

'fl'

Given two linked lists representing non-negative integers, where each node contains a single digit, write a function to add the two numbers and return the result as a linked list. The digits are stored in reverse order.

Write a function that checks if a string has all unique characters without using any additional data structures.

Write a function that takes a string and returns a dictionary with the frequency count of each word in the string. Ignore punctuation and consider words to be case-insensitive.

In [87]:
s = "Insensitive"
{i:s.count(i) for i in s}

{'I': 1, 'n': 2, 's': 2, 'e': 2, 'i': 2, 't': 1, 'v': 1}

Given an array containing n distinct numbers taken from 0, 1, 2, ..., n, write a function to find the one number that is missing from the array.

In [94]:
lst = [i for i in range(11)]
lst.remove(5)
n = len(lst)
n_sum = (n*(n+1))/2
int(n_sum - sum(lst))

5

Write a function that takes a nested list and flattens it into a single list. For example, for the input [1, [2, [3, 4], 5], 6], the output should be [1, 2, 3, 4, 5, 6].

In [113]:
home = [1, [2, [3, 4], 5], 6]
temp = []

def check(lst):
    final = []
    for i in lst:
        if isinstance(i,list): # important
            final.extend(check(i))
        else:
            final.append(i)
    return final
check(home)

[1, 2, 3, 4, 5, 6]

Write a function that checks if one string is a rotation of another. For example, "waterbottle" is a rotation of "erbottlewat".

In [116]:
test = "waterbottle"
for i in range(3):
    test = test[1:] + test[0]
test

'erbottlewat'

Given an integer array, find the contiguous subarray within the array that has the largest product and return that product.

In [118]:
arr = [2, 3, -2, 4]
max_product = 1
a,b = 0,0

for i in range(len(arr)):
    for j in range(i+1,len(arr)):
        if arr[i]*arr[j] > max_product:
            max_product = arr[i]*arr[j]
            a,b =arr[i],arr[j]
a,b,max_product

(3, 4, 12)

Write a function to find the kth largest element in an unsorted array. Note that it is the kth largest element in sorted order, not the kth distinct element.

In [122]:
arr = [2, 3, -2, 4]
k = 2
arr.sort(reverse=True)
arr[2-1]

3

Given two sorted linked lists, write a function to merge them into one sorted linked list and return it.

In [135]:
arr = [2, 3, -2, 4]
arr2 = [1, 2, 3, 4, 5, 6]
lst = sorted(arr2)#.extend(sorted(arr2))
lst.extend((sorted(arr)))
lst

[1, 2, 3, 4, 5, 6, -2, 2, 3, 4]

Write a function that checks if two strings are anagrams of each other, considering spaces and punctuation.

In [140]:
str1 = "listen"
str2 = "silent"
if sorted(str1) == sorted(str2):
    print("yes")
else:
    print("no")

yes

Given an array of sorted integers and a target value, write a function to find the starting and ending position of the target value in the array. If the target is not found, return [-1, -1].

Write a function to determine if a given integer is a power of two.

Implement a function that counts the number of unique characters in a given string, ignoring case.

Given a list of integers and a target, return the indices of the two numbers such that they add up to the target. Ensure your solution has a time complexity better than O(n²).

Write a function that compresses a string using the counts of repeated characters. For example, "aabcccccaaa" would become "a2b1c5a3". If the compressed string is not smaller than the original, return the original string.

In [158]:
from itertools import groupby

a = "aabcccccaaa"
target  = "a2b1c5a3"
str1 = ""
for char,group in groupby(a):
    count = len(list(group))
    str1 += f"{char}{count}"
str1

'a2b1c5a3'

In [160]:
a = "aabcccccaaa"
target  = "a2b1c5a3"
str1 = ""
i = 0
while i <len(a):
    char = a[i]
    count = 1

    while i+1 < len(a) and a[i+1] == char:
        count += 1
        i+= 1
    str1 += f"{char}{count}"
    i+= 1
str1

'a2b1c5a3'

Given an array of integers and a target sum, write a function to find a contiguous subarray that sums to the target. Return the indices of the start and end of the subarray, or [-1, -1] if no such subarray exists.

Implement an algorithm to find the next lexicographical permutation of a list of numbers.

Write a function that removes duplicates from a sorted array in-place and returns the new length.

Given a binary tree, write a function to determine if it is a valid binary search tree.

Write a function that takes an array and a target sum and returns all pairs of integers that add up to that sum.

Write a function that groups anagrams from a list of strings.
Input: ["eat", "tea", "tan", "ate", "nat", "bat"]
Output: [['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

Write a function to find the length of the longest substring without repeating characters.
Input: "abcabcbb"
Output: 3 (The longest substring is "abc".)

Given a list of n integers where each integer is in the range [1, n], one number is missing. Write a function to find that number.
Input: [3, 7, 1, 2, 8, 4, 5]
Output: 6

Write a function that implements strStr(), which locates a substring within a string.
Input: ("hello", "ll")
Output: 2

Write a function that counts the number of prime numbers less than a given non-negative number, n.
Input: 10
Output: 4 (The prime numbers are 2, 3, 5, 7.)

Given a sorted array of integers, return the indices of the two numbers such that they add up to a specific target.
Input: ([2, 7, 11, 15], 9)
Output: [1, 2] (1-based index)

Implement a queue using two stacks. The queue should support the following operations: push, pop, and peek.
Input: push(1), push(2), pop()
Output: 1

Write a function that determines if a given string can be a palindrome after deleting at most one character.
Input: "abca"
Output: True

Given an array of integers, find all unique triplets that sum up to zero.
Input: [-1, 0, 1, 2, -1, -4]
Output: [[-1, -1, 2], [-1, 0, 1]]

Given a 2D grid of '1's (land) and '0's (water), write a function to count the number of islands. An island is surrounded by water and is formed by connecting adjacent lands horizontally or vertically.
Input:

[  ["1","1","0","0","0"],
  ["1","1","0","0","0"],
  ["0","0","1","0","0"],
  ["0","0","0","1","1"]
]

Given a non-empty array of integers, return the k most frequent elements.
Input: ([1,1,1,2,2,3], 2)
Output: [1, 2]

Implement binary search in a sorted array to find the index of a target element.
Input: ([1, 2, 3, 4, 5], 3)
Output: 2

Given an array of integers, return an array such that output[i] is equal to the product of all the elements of the input array except nums[i].
Input: [1, 2, 3, 4]
Output: [24, 12, 8, 6]

Write a function to generate all possible permutations of a list of numbers.
Input: [1, 2, 3]
Output: [[1, 2, 3], [1, 3, 2], [2, 1, 3], [2, 3, 1], [3, 1, 2], [3, 2, 1]]

Given a list of coin denominations and a total amount, write a function to compute the minimum number of coins needed to make the amount.
Input: ([1, 2, 5], 11)
Output: 3 (11 = 5 + 5 + 1)

Given the total number of courses and a list of prerequisites, write a function to determine if you can finish all courses.
Input: numCourses = 2, prerequisites = [[1, 0]]
Output: True
Let me know if you want ev

You are climbing a staircase with n steps. You can take either 1 or 2 steps at a time. Write a function to find how many distinct ways you can climb to the top.
Input: n = 5
Output: 8

Write a function to find the longest palindromic substring in a string.
Input: "babad"
Output: "bab" or "aba"

Given an array of daily temperatures, return an array such that answer[i] is the number of days until a warmer temperature.
Input: [73, 74, 75, 71, 69, 72, 76, 73]
Output: [1, 1, 4, 2, 1, 1, 0, 0]

A robot is located at the top-left corner of a m x n grid. Write a function to find the number of unique paths to reach the bottom-right corner.
Input: m = 3, n = 7
Output: 28

Implement a trie with insert and search methods.
Input: insert("apple"), search("apple")
Output: True

Given an m x n matrix, return all elements of the matrix in spiral order.
Input:

[
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]
Output: [1, 2, 3, 6, 9, 8, 7, 4, 5]

Given a string, write a function to partition it into all possible palindrome partitions.
Input: "aab"
Output: [['a', 'a', 'b'], ['aa', 'b']]

Given an integer array, find the length of the longest increasing subsequence.
Input: [10, 9, 2, 5, 3, 7, 101, 18]
Output: 4 (The longest increasing subsequence is [2, 3, 7, 101])

An element is a peak if it is greater than or equal to its neighbors. Write a function to find a peak element in an array.
Input: [1, 2, 3, 1]
Output: 3

Write a function to find the length of the longest consecutive elements sequence.
Input: [100, 4, 200, 1, 3, 2]
Output: 4 (The longest consecutive sequence is [1, 2, 3, 4])

Write a function that finds the maximum product of any three numbers in an array.
Input: [-10, -10, 5, 2]
Output: 500 (The maximum product is -10 * -10 * 5)

Given an array of integers and a target sum, write a function to count the number of continuous subarrays whose sum equals the target.
Input: arr = [1, 1, 1], target = 2
Output: 2 (The subarrays are [1, 1] and [1, 1])

Evaluate the value of an arithmetic expression in Reverse Polish Notation (RPN).
Input: ["2", "1", "+", "3", "*"]
Output: 9 (The expression is (2 + 1) * 3)