## 1. Write a python program to sort characters and number so that first alphabets and then numbers are printed.

In [14]:
a = "l1b47c2"
char = []
dig = []
for i in a:
    dig.append(i) if i.isnumeric() else char.append(i)
"".join(sorted(char) + sorted(dig))

'bcl1247'

## 2. Write a program to display the words that are repeated more than or equal to N times in the text.
**Input**

input = cat batman latt matter cat matter cat cat latt latt
n = 3

**Output**:

cat latt

In [29]:
inputs = "cat batman latt matter cat matter cat cat latt latt"
n = 3
d = {}
for text in set(inputs.split()):
    if inputs.count(text) >= n:
        d[text] = inputs.count(text)
lst = sorted(list(d.keys()),key= lambda x :x[0])
" ".join(lst)

'cat latt'

## _OR_

In [34]:
inputs = "cat batman latt matter cat matter cat cat latt latt"
n = 3
dic = {text:inputs.count(text) for text in set(inputs.split()) if inputs.count(text) >= n}
sorted_lst = sorted(dic.keys(), key = lambda x :x[0])
print(dic)
print(sorted_lst)
" ".join(sorted_lst)

{'latt': 3, 'cat': 4}
['cat', 'latt']

'cat latt'

### 3. write a program for finding pair of highest product.

Input : [5,3,1,4,3,7,6,9,2]

output : Maximum product pair is : (7,9)

Input : [0,-2,-1,-4,5,-8,7,-8,8]

output : Maximum product pair is : (-8,-8)

In [48]:
def max_product(arr):
    if len(arr) >= 2:
        a,b = arr[0],arr[1]
        for i in range(len(arr)):
            for j in range(i+1, len(arr)):
                if arr[i]*arr[j] > (a*b):
                    a,b = arr[i],arr[j]
        return (a,b)
    else:
        print("no such pair exist")
        return 

arr = eval(input("Enter Array"))
print(max_product(arr))

Enter Array  [5,3,1,4,3,7,6,9,2]

(7, 9)

### 4. You are given "N" sticks each of negligible thickness and the ith stick has lenght A[i].

Find the maximum area of rectangle that is possible.

notes:- 
1) rectangle is a figure having opposite side equal.
2) A squre is also a ractangle

return value : integer denoting maximum possible area.

**Example**:

Inputs : 5,[1 8 1 8 8]

Output : 8

Explaination: We can create a rectangle of 8*1 and it has maximum area.

Inputs : 8,[4,2,3,2,3,4,5,1]

output : 12

In [57]:
lst = [1,8,1,8,8]
# remove which don't have pair
arr = [i for i in set(lst) if lst.count(i) >= 2]
# find max product
max_p = 0
for i in range(len(arr)):
    for j in range(i+1, len(arr)):
        if arr[i] * arr[j] > max_p:
            max_p = arr[i] * arr[j]
max_p

8

## 5. you are given a string s of lenght n and an array of strings t containg m strings each of lenght n-1
you need to remove one character from s such that s became equal to any of m strings.

find the total number of strings from the m given strings which can be obtained by removing one character from s.

input:
length of string s (n) - 5

string - abcde

no of string in t (m) - 4

enter string (t) - ["abcd","abcc","cddd","acde"]

output : 2

explaination: 

              abcd :- after removing e

              acde :- after removing b

In [59]:
string = 'abcde'
n = 5
m = 4
t = ["abcd","abcc","cddd","acde"]
count = 0
for i in range(n):
    temp =  string.replace(string[i],"")
    if temp in t:
        count += 1
print(count)

2

## 6 Give an array of integers "nums" and an integer "target". return indices of two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

you can return answer in any order.

ex. 

input: nums = [2,7,11,15],
target = 9

outptu = [0,1]

num = [3,2,4]
target = 6

output = [1,2]

nums = [3,3] 
target = 6

output = [0,1]

In [63]:
def get_indices(nums, target):
    for i in range(len(nums)):
        for j in range(i+1,len(nums)):
            if nums[i]+nums[j] == target:
                return [i,j]
get_indices(nums = [3,2,4],target = 6)

[1, 2]

In [76]:
def get_indices_2(nums,target):
    dic = {}
    for idx, no in enumerate(nums):
        diff = target - no
        if diff in dic:
            return dic[diff],idx
        dic[no] = idx
    return None
get_indices_2(nums = [2,7,11,15],
target = 9)

(0, 1)

## 7. Iterate on list without using loop from start to end.
nums = [10,20,30,40,50]

start_idx = 1

end_idx = 4

output : 20 30 40

In [79]:
def iterator(arr, start , end):
    if start < 0 or start >= end or end >= len(arr):
        return None
    print(arr[start],end= " ")
    ## recursive 
    iterator(arr,start+1,end)
        

arr = [10,20,30,40,50]
iterator(arr, 1 , 4)

20 30 40

### Input : "a3b2c4"

### output : aaabbcccc

In [80]:
Input = "a3b2c4"
out = ""
tem = ""
for i in Input:
    if i.isalpha():
        temp = i
    elif i.isnumeric():
        out += temp*int(i)
out

'aaabbcccc'

https://www.youtube.com/watch?v=L9HM7SGxu9I&list=PLI4OVrCFuY54S0RMuEYAgF2WguzROM1w3&index=10

### Write a python program for following requirements 

if input   2 512

  2 * 2 = 4 * 2 = 8*2  == .... 512

result = 512

count = 8

In [91]:
def get_count(no,check):
    n1 = 1
    while no <= check:
        no = no*2
        if no == 512:
            break
        else:
            n1 += 1 
    return n1
get_count(2,512)

8

### Write a python program for following 

input : "aaaabbbccd"

output : 4a3b2c1d

In [96]:
str1 = 'aaaabbbccd'
lst = []
[lst.append(i) for i in str1 if i not in lst] 
output = ""
for i in lst:
    output += str(str1.count(i)) + i
output

'4a3b2c1d'

In [99]:
# convert into dictionary

query = "a=2&b=23&name=prakash"

#output = {"a":"2","b":"23","name":"prakash"}

query = query.split("&")
d = {}
for i in query:
    i = i.split("=")
    d[i[0]] = i[1]
d

{'a': '2', 'b': '23', 'name': 'prakash'}

In [103]:
### Find the second larget element
nums = [78,45,76,90,23,37,84]
nums.sort(reverse=True) # by default ascending
nums[1]

84

In [102]:
nums.remove(max(nums))
max(nums)

84

In [108]:
first = second = float('-inf')
for num in nums:
    if num > first:
        second = first
        first = num
    elif first > num > second:
        second = num

second if second != float('-inf') else None
second

84

### Given an integer/string x, return true if x is palidrome integer/string

Palidrome : when a string or number is equal to reverse of it

In [113]:
# for number 
old = 151
no = old
res = 0

while no!= 0:
    res = res*10 + no%10
    no//=10
True if res == old else False

True

## convert roman into number

In [128]:
value = {"I":1,"V":5,"X":10,"L":50,"C":100,"D":500,"M":1000,"IV":4,"IX":9,"XL":40,"XC":90,"CD":400,"CM":900}

inputs = "IX"
count = 0
i = 0
while i < len(inputs):
    if inputs[i:i+2] in value:
        count += value[inputs[i:i+2]]
        i+=2
    elif inputs[i] in value:
        count += value[inputs[i]]
        i+=1
    else:
        i+= 1
count

9

### Given an expression string, write a python program to find whether a given string has balanced or unbalanced

Input : "{[]{()}}"

Output ; Balanaced

Input = "[{}{}(]"

output : unbalanced

"solution : Stack : LIFO"

In [135]:
Input = "{[]{()}}"

def check(str1):
    bracket = {"}":"{","]":"[",")":"("}
    stack = []
    for i in str1:
        if i in bracket.values():
            stack.append(i)
        elif i in bracket.keys():
            stack.remove(bracket[i])
            
    return "Unbalanced" if stack else 'Balanced'

check(Input)

'Balanced'

## Write a python program to find complement of given number.

Input : 5

Output : 2

Input : 8

Output : 7


Note: convet into binary and flip every two binary
1100 - 1001

In [148]:
def complement(no):
    binary = bin(no).replace("0b","")
    complement = ""
    for bit in binary:
        if bit == "1":
            complement += "0"
        else:
            complement += "1"
    return int(complement,base=2)

complement(8)

7

In [165]:
Input = "my23name45is"
# output = "si23eman45ym"
str1 = [i for i in Input if i.isalpha()][::-1]
output = ""
for i in Input:
    if i.isalpha():
        output+= str1[0]
        str1.remove(str1[0])
    elif i.isnumeric():
        output+= i
output

'si23eman45ym'

In [ ]:
# Write a pytho program to Find out common letters between two strings

str1 = "NAINA"
str2 = "REENE"

In [170]:
str1 = "Lalit" #"NAINA"
str2 = "Mahale" #"REENE"
str1 = set(i for i in str1)
str2 = set(i for i in str2)
str1.intersection(str2)

{'a', 'l'}

In [173]:
# Write a python program to count the frequency of words appearing in a string

eg = "Sheena loves eating apple and mango. Her sister also loves eating apple and mango."

In [174]:
eg = eg.lower()
d = {}
for text in set(eg.split()):
    d[text] = eg.count(text)
d

{'and': 2,
 'her': 1,
 'loves': 2,
 'apple': 2,
 'sister': 1,
 'eating': 2,
 'mango.': 2,
 'sheena': 1,
 'also': 1}

In [177]:
## write a python program to convert two list into a dictionary

lst1 = ["Naina","Kimi","sheena"]
lst2 = [852345,763567,691276]
{key:value for key,value in zip(lst1,lst2)}

{'Naina': 852345, 'Kimi': 763567, 'sheena': 691276}

In [178]:
dict(zip(lst1,lst2))

{'Naina': 852345, 'Kimi': 763567, 'sheena': 691276}

find missing number in an array using summation and XOR operation

In [184]:
# summation 
lst = [1,2,4,5,6,7]

# find the sum of natural number
n_sum = (max(lst)*(max(lst)+1))/2
sum_list = sum(lst)
missing_no = n_sum-sum_list
missing_no

3.0

## Find out pairs with given sum values of an array

arr = [5,7,4,3,9,8,19,21]

sum = 17

In [189]:
arr = [5,7,4,3,9,8,19,21]
t = 17
for idx,no in enumerate(arr):
    if t-no in arr:
        print(idx,arr.index(t-no))
        break

4 5

In [187]:
arr[4]

9

In [188]:
sum([9,27,2,5,9,])

52

# find the min difference between two elements of array
arr = [5,32,45,4,12,18,25]

In [191]:
arr = [5,32,45,4,12,18,25]
arr.sort()
min_dist = 100

for i in range(len(arr)-1):
    if (arr[i+1] - arr[i]) < min_dist:
        min_dist = arr[i+1] - arr[i]
min_dist

1

### Postfix Expression

arr = ["2",'1',"+","3","*"]

In [197]:
arr = ["2",'1',"+","3","*"]
stack = []
for i in arr:
    if i.isdigit():
        stack.append(i)
    else:
        b = int(stack.pop())
        a = int(stack.pop())
        if i == "+":
            stack.append(b+a)
        elif i == "*":
            stack.append(b*a)
stack[0]

9

## Water Tapping

**Given "n" non negative integers representing an elevation map where the width of each bar is 1. The amount of water that is trapped between these bars after raining**

A = [1,0,2,0,1,0,3,1,0,2]

In [201]:
## Find the maximum sum of subarray

arr = [4,-3,-2,2,3,1,-2,-3,6,-6,-4,2,1]

In [205]:
def max_subarray_sum(arr):
    max_sum = float('-inf')  # Initialize to the smallest possible value
    current_sum = 0

    for num in arr:
        current_sum += num  # Add the current number to the current sum
        max_sum = max(max_sum, current_sum)  # Update the maximum sum if current is greater

        if current_sum < 0:  # If the current sum becomes negative, reset it to 0
            current_sum = 0

    return max_sum

# Example usage:
arr = [4, -3, -2, 2, 3, 1, -2, -3, 6, -6, -4, 2, 1]
result = max_subarray_sum(arr)
print(result)  # Output: 8

7

In [206]:
max_sum = float("-inf")
curr_sum = 0

for no in arr:
    curr_sum += no
    max_sum = max(max_sum, curr_sum)

    if curr_sum < 0:
        curr_sum = 0
print(max_sum)

7

## Rotate the string 

str1 = "NETSET"

output = "TESTEN"

In [213]:
str1 = "NETSET"
l = len(str1)
temp = str1*2
for i in range(l):
    for j in range(l):
        print(temp[i+j],end = "")
    print()

NETSET
ETSETN
TSETNE
SETNET
ETNETS
TNETSE

### First non repeating chracter in a string

test = "NETSETOSNETM"

In [214]:

test = "NETSETOSNETM"
for i in test:
    if test.count(i) == 1:
        print(i)
        break

O

# Multiplication of two number 

# "45" and "67"

## Find the substring

## Pascal Triangle

##

## Given a string. Extract all the number in the string and return the numbers as a list

Input:

str1 = "I am 89 Year old. My father name is 120"

output = [89,120]

In [16]:
import re
str1 = "I am 89 Year old. My father name is 120"
re.findall(r"\d+",str1)

['89', '120']

In [21]:
# swap the number 
no = 198
temp = no
resv = 0
while temp != 0:
    resv = resv*10 + temp%10
    temp //=10
    
resv

In [24]:
# check no is prime or  not

no = 17

def check_prime(no):
    for i in range(0,no//2):
        if no%1 ==0:
            return("Not prime")
        
    return ("It is prime")
check_prime(no)

'Not prime'

In [25]:
## find factorial of a number 
from math import factorial

factorial(5)

120

In [26]:
## or 
no = 5
fact  = 1
while no!= 0:
    fact *= no
    no -=1
fact

120

In [28]:
## or 
no = 5
fact  = 1
if no < 0:
    fact = 0
else:
    for i in range(1,no+1):
        fact *= i
fact

120

In [29]:
# fibonnachi series
lst = [0,1]
no = 10
while len(lst) != no:
    f = lst[-1]+lst[-2]
    lst.append(f)
lst

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [33]:
lst = [0,1]
no = 10

for i in range(2,no):
    lst.append(lst[-1]+lst[-2])
(lst)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [35]:
# find the maximum and min without using max and min 
arr = [10,20,4,1,12,58,3]
maxi = 0
mini = 1000

for i in arr:
    if maxi < i:
        maxi = i
    elif mini > i :
        mini = i
maxi,mini

(58, 1)

In [40]:
# find the length of list without using len

arr = [10,20,30,40,50]
lenght  = 0
for i in arr:
    lenght += 1
lenght

5

In [41]:
## swap the first and last element in the list 
arr  = [12,35,9,56,24]
arr[0],arr[-1] = arr[-1],arr[0]

In [42]:
arr

[24, 35, 9, 56, 12]

In [49]:
## remove the Nth occurance of the give word 

lst = ["geeks","for","geeks"]
word = "geeks" 
n = 2

lst.pop(2)
lst

['geeks', 'for']

In [50]:
lst = ["geeks","for","geeks"]
lst.clear()

In [51]:
lst

[]

### Pattern questions

a) 

*
**
***
****
*****

In [52]:
no = 5
for i in range(1,no+1):
    print(i*"*")

*
**
***
****
*****

In [65]:
# *
# **
# ***
# **
# *

no = 5

for i in range(1,no):
    print("*"*i)
for j in range(2,no):
    print("*"*(no-j))

*
**
***
****
***
**
*

In [93]:
for i in range(1,no):
    print(" "*(no-i),"* "*i)
# for j in range(1,no+1):
#     print("*"*(no-j+1)," "*(j))
for j in reversed(range(1,no+1)):
    print(" "*(no-j),"* "*(j))

     *
    * *
   * * *
  * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [109]:
n = 5
for i in range(1, n + 1):
    print(' ' * (n - i) + '*' * i)

# Lower part of the pattern (decreasing)
for i in range(n - 1, 0, -1):
    print(' ' * (n - i) + '*' * i)

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [110]:
def print_diamond(n):
    # Upper part of the diamond
    for i in range(1, n + 1):
        print(' ' * (n - i) + '*' * (2 * i - 1))
    
    # Lower part of the diamond
    for i in range(n - 1, 0, -1):
        print(' ' * (n - i) + '*' * (2 * i - 1))
print_diamond(5)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
[1,2,3,4,5,6,7,8,9,10]

In [2]:
Input = "{[{}]{(})}}"

dic = {"[":"]","(":")","{":"}"}
stack = []
for i in Input:
    if i in dic.keys():
        stack.append(i)
    elif i in dic.values():
        stack.remove(i)
"Unbalanced" if stack else "balanced"

ValueError: list.remove(x): x not in list